

section#main {
  display: flex;
  position: relative;
  flex-direction: column;
  background-image: url('/assets/images/blob-scene-haikei.svg');
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
  overflow-x: hidden;

  #preferenceSide {
    padding: 0;
  }

  .wrap {min-height: 100vh;}

    .brand {
      margin:0 2em;
      padding: 2em;
      display: flex;
      position: absolute;
      top:0;
      left:0;
      z-index: 1;


      .logo {
        aspect-ratio: 1;
        max-height: 10em;
        min-height: 6em;
      } 
      .brandTitles { 
        color: #568306;
        font-family: 'Asap', Arial, Helvetica, sans-serif;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        margin-left: 2em;

        h1 {font-weight: bold; font-size: 3em;}
        h2{font-size: large; text-transform: uppercase; font-weight: 400;}
      }
    }

  }

 