<section class="home">

    <div id="preferenceSide">
       <div class="brand">
        <div class="logo">
           <img src="/assets/images/Meal_planner.png" alt="logo" class="img-fluid"> 
        </div>
        <div class="brandTitles">
            <h1>Meal Planner</h1>
            <h2>Votre menu de la semaine en un seul clic</h2>  
        </div>
     
    </div>
   
        <app-preference></app-preference> 
    </div>
    
    <div id="planningSide">   
        <app-planning ></app-planning> 
    </div>
   


</section>



<router-outlet></router-outlet>
