@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Asap:ital,wght@0,100..900;1,100..900&display=swap');

html, body {background-color: #fafafa; margin: 0; padding: 0;}

#visual {position: fixed; bottom:0; z-index: -1;}

section.home {
  display: flex;
  position: relative;
  min-height: 100vh;

  #preferenceSide {
    background-color: rgba(250,250,250,0.95);
  }


    .brand {
      margin:0 2em;
      padding: 2em;
      display: flex;

      .logo {
        aspect-ratio: 1;
        max-height: 10em;
      } 
      .brandTitles { 
        color: #568306;
        font-family: 'Asap', Arial, Helvetica, sans-serif;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        margin-left: 2em;

        h1 {font-weight: bold; font-size: 3em;}
        h2{font-size: large; text-transform: uppercase; font-weight: 400;}
      }
    }

  }

 