<div class="planning">
    <div class="blocNote tape">
    <table class="table">
      <thead>
        <tr>
          <th></th>
          <th class="lunchWord"><div class="paper-curl">Déjeuner</div></th>
          <th class="dinnerWord"><div class="paper-curl">Dîner</div></th>
        </tr>
      </thead>
      <tbody>
        <!-- Boucle sur les menus -->
        @if(menus.length > 0){
          @for(menu of menus; track menu.day; let index = $index){
            <tr id="day-{{index}}">
              <td class="upper"><div class="handwrite thick">{{menu.day}}</div></td>
              <td class="lunch mealTimesheets animate">
                @for(ingredient of menu.lunch; track ingredient; let ingredientIndex = $index){
                  <span id="ingredient-{{ingredientIndex}}">{{ingredient}}</span>
                  @if(ingredientIndex < menu.lunch.length - 2){<span>, </span> }
                  @else if(ingredientIndex < menu.lunch.length - 1){<span> et </span>}
                }
              </td>
              <td class="dinner mealTimesheets animate">
                @for(ingredient of menu.dinner; track ingredient; let ingredientIndex = $index){
                  <span id="ingredient-{{ingredientIndex}}" >{{ingredient}}</span>
                  @if(ingredientIndex < menu.lunch.length - 2){<span>, </span> }
                  @else if(ingredientIndex < menu.lunch.length - 1){<span> et </span> }
                }
              </td>
            </tr>
          }
        } @else {
          <!-- Boucle sur les jours de la semaine si aucun menu n'est disponible -->
          @for(day of week; track day; let index = $index){
            <tr id="day-{{index}}">
                <td class="upper"><div class="handwrite thick">{{day}}</div></td>
              <td class="lunch"></td>
              <td class="dinner"></td>
            </tr>
          }
        }
      </tbody>
    </table>
    </div>
  </div>
  